*.egg-info
*.mo
*.pyc
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
local.cfg
Makefile
node_modules/
parts/
src/collective.*
var/
