[buildout]
extensions =
    buildout.dumppickedversions

develop = .
newest = true
unzip = true
versions = versions

parts =
    instance
    i18ndude
    omelette
    test
    zopepy

extends =
    http://dist.plone.org/release/4.1.4/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.2?plone=4.1.4

find-links =
    http://dist.plone.org/release/4.1.4
    http://dist.plone.org/thirdparty

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
verbose-security = on
environment-vars = zope_i18n_compile_mo_files true
eggs =
    Plone
    Pillow
    collective.upload
    collective.quickupload
    sauna.reload
zope-conf-additional = %import sauna.reload

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[test]
recipe = zc.recipe.testrunner
eggs =
    Pillow
    collective.upload [test]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
