[versions]
plone.app.jquery = 1.7.2
plone.app.jquerytools = 1.5.7

[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg

package-name = collective.upload
package-extras = [test]
package-min-coverage = 85

parts +=
    createcoverage
    coverage-sh
    node

[code-analysis]
directory = ${buildout:directory}/src/collective/upload
pre-commit-hook = False
flake8-ignore = E501
flake8-max-complexity = 12
csslint = True
csslint-bin = bin/csslint
jshint = True
jshint-bin = bin/jshint
debug-statements = True
prefer-single-quotes = True
return-status-codes = False

[versions]
pep8 = 1.5.7
# use latest version of setuptools
setuptools =
