.btn
{
    font-size: 14px;
    line-height: 20px;

    display: inline-block;

    margin-bottom: 0;
    padding: 4px 12px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: #333;
    border: 1px solid #bbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #f5f5f5;
    background-image:    -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image:      -o-linear-gradient(top, #fff, #e6e6e6);
    background-image:         linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
}
.btn-success
{
    color: #fff;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    background-color: #5bb75b;
    background-image:    -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image:      -o-linear-gradient(top, #62c462, #51a351);
    background-image:         linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.btn-primary
{
    color: #fff;
    border-color: #04c #04c #002a80;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    background-color: #006dcc;
    background-image:    -moz-linear-gradient(top, #08c, #04c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image:      -o-linear-gradient(top, #08c, #04c);
    background-image:         linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.btn-warning
{
    color: #fff;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    background-color: #faa732;
    background-image:    -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image:      -o-linear-gradient(top, #fbb450, #f89406);
    background-image:         linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.btn-danger
{
    color: #fff;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    background-color: #da4f49;
    background-image:    -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image:      -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image:         linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
[class^='icon-'],
[class*=' icon-']
{
    line-height: 14px;

    display: inline-block;

    width: 14px;
    height: 14px;
    margin-top: 1px;

    vertical-align: text-top;

    background-image: url('img/glyphicons-halflings.png');
    background-repeat: no-repeat;
    background-position: 14px 14px;
}
.icon-white,
.nav-pills > .active > a > [class^='icon-'],
.nav-pills > .active > a > [class*=' icon-'],
.nav-list > .active > a > [class^='icon-'],
.nav-list > .active > a > [class*=' icon-'],
.navbar-inverse .nav > .active > a > [class^='icon-'],
.navbar-inverse .nav > .active > a > [class*=' icon-'],
.dropdown-menu > li > a:hover > [class^='icon-'],
.dropdown-menu > li > a:hover > [class*=' icon-'],
.dropdown-menu > .active > a > [class^='icon-'],
.dropdown-menu > .active > a > [class*=' icon-'],
.dropdown-submenu:hover > a > [class^='icon-'],
.dropdown-submenu:hover > a > [class*=' icon-']
{
    background-image: url('img/glyphicons-halflings-white.png');
}
.icon-plus
{
    background-position: -408px -96px;
}
.icon-upload
{
    background-position: -144px -24px;
}
.icon-ban-circle
{
    background-position: -216px -96px;
}
.icon-trash
{
    background-position: -456px 0;
}

/* Fix fileupload style */
#fileupload .controls
{
    display: -webkit-box;
    display:    -moz-box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: center;
       -moz-box-pack: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
            justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
       -moz-box-align: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            align-items: center;
    -ms-flex-align: center;
}
#fileupload .controls > *
{
    margin-right: 10px;

    -webkit-box-flex: 1;
       -moz-box-flex: 1;
    -webkit-flex: 1;
       -moz-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
#fileupload .template-upload
{
    display: -webkit-box;
    display:    -moz-box;
    display: -webkit-flex;
    display:    -moz-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: center;
       -moz-box-pack: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
            justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
       -moz-box-align: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            align-items: center;
    -ms-flex-align: center;
}
#fileupload .template-upload > *
{
    margin-right: 10px;

    -webkit-box-flex: 1;
       -moz-box-flex: 1;
    -webkit-flex: 1;
       -moz-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
#fileupload .template-upload .preview
{
    min-width: 80px;
    min-height: 60px;
}
#fileupload .template-upload .name input
{
    width: 100%;
}
#fileupload .template-upload .size
{
    min-width: 80px;
}
#fileupload .template-upload .progress
{
    width: auto;
    min-width: 100px;
}
#fileupload .results,
#fileupload .results .files
{
    width: 100%;
}
